# From simple coding  to complex coding

##  ML, Data Science and DL

In [1]:
First_name="Sammy"
print(type(First_name))
age= 26
print(type(age))
Gender='M'
print(type(Gender))
Weight= 60.75
print(type(Weight))
Married =True
print(type(Married))
Country= ["Germany","Canada","USA","England"]
print(type(Country))
days=("Sunday","Monday","Tuseday","Wednesday","Thursday","Friday","Saturday")
print(type(days))
days2={1:"Sunday",2:"Monday",3:"Tuseday",4:"Wednesday",5:"Thursday",6:"Friday",7:"Saturday"}
print(type(days2))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [2]:
X= 5
Y= 3

print(X + Y)
print(X - Y)
print(X * Y)
print(X / Y)
print(X ** Y)

8
2
15
1.6666666666666667
125

In [3]:
x= True
y= False
print (x and y)
print (x or  y)
print (not(x or y))
print (not(x and y))

False
True
False
True

In [4]:
X = 24
Y = 14

print (X==Y)
print (X!=Y)
print (X > Y + 9 )
print (X/2 < Y - 1 )

False
True
True
True

In [5]:
x= 15 ;  y= 13
R = x + y
print(R)
R= x * y
print (R)

28
195

In [6]:
x= 20;
y= 10
x+= 10
print(x)
x= 20;
y= 10
x-= 10
print(x)

30
10

In [7]:
days =("Monday", "Tuseday", "Wedensday", "Thursday","Friday")
print ("Sunday"  not in  days)
print  ('Monday' in days)

True
True

In [8]:
x= 15
y=  7
if x > y:
    print(x)    
else:
    print(y)

15

In [9]:
 if  5 > 10:
        print ("5 is greater than 10")
elif 8 < 4:
        print ("8 is less than 4")
else:
       print ("5 is not greater than 10 and 8 is not smallert than 4")

5 is not greater than 10 and 8 is not smallert than 4

In [10]:
item= range(10)
for x in item:
    print(item)

range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)

In [11]:
c = 0
while c < 10: 
    print(c)
    c = c +1

0
1
2
3
4
5
6
7
8
9

In [12]:
def myfun(num):
    print("Fun with param"+num)
myfun(" 1")

Fun with param 1

In [13]:
def fun():
    return " this fun returns value"
val= fun()
print(val)

 this fun returns value

In [14]:
class Book:
    name= "Modern Artificial Intelligence"
    price= 500
    def buy_book(self):
        print("Book has been sold")
b = Book () 
b.buy_book()
print(b.name)
print (b.price)

Book has been sold
Modern Artificial Intelligence
500

In [17]:
class Book:
    name = "Modern Artificial Intelligence"
    price = 1000 
    def __init__(self, book_name, book_price):
        Book.name = book_name
        Book.price = book_price  
    def buy_book(self): 
        print("Book has been sold")  
b = Book("Machine Learning", 800)  
b.buy_book()  
print(b.name)  
print(b.price)

Book has been sold
Machine Learning
800

In [18]:
import numpy as np
num_list=[10,12,14,16,18,20]
num_array=np.array(num_list)
type(num_array)

numpy.ndarray

In [22]:
row1= [1,2,3,4]
row2= [5,6,7,8]
row3= [9,10,11,12]
num_2d = np.array([row1, row2, row3])
num_2d.shape

(3, 4)

In [23]:
a = [5, 1, 4, 3]
print(a)

[5, 1, 4, 3]

In [27]:
print (sorted (a))

[1, 3, 4, 5]

In [29]:
strs = ['aa', 'BB', 'zz', 'CC']
print (sorted(strs))

['BB', 'CC', 'aa', 'zz']

In [31]:
print (sorted (strs, reverse=True))

['zz', 'aa', 'CC', 'BB']